@font-face {
    font-family: "Kids";
    src: url("./Kids.ttf") format("truetype");
    font-weight: 600;
    font-size: normal;
}
.hello {
    color: purple; 
    font-size: 20px;
    background: url("./icon.jpg");
    font-family: "Kids";
    width: 200px;
    height: 200px;
}
.test {
    font-size: 20px;
    font-family: "Kids";
}